<%= bootstrap_form_for user do |f| %>
  <div><%= f.text_field :first_name %></div>
  <div><%= f.text_field :last_name %></div>
  <div><%= f.text_field :username %></div>
  <div><%= f.password_field :password %></div>
  <div><%= f.text_field :email %></div>
  <div><%= f.text_field :phone_number %></div>
  <div><%= f.submit button_name, class: 'btn btn-default' %></div>
<% end %>
