<%= form_for user do |f| %>
  <div><%= f.label :first_name %></div>
  <div><%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %></div>
  <div><%= f.text_field :last_name %></div>

  <div><%= f.label :username %></div>
  <div><%= f.text_field :username %></div>

  <div><%= f.label :password %></div>
  <div><%= f.password_field :password %></div>

  <div><%= f.label :email %></div>
  <div><%= f.text_field :email %></div>

  <div><%= f.label :phone_number %></div>
  <div><%= f.text_field :phone_number %></div>

  <div><%= f.submit button_name %></div>
<% end %>
