<div class = 'display-profile'>
  <div class = 'container'>
    <div class = "row">
      <div class = "col-md-6">
        <div class ='move-user-info'>
          <div class="jumbotron">
            <h1>Profile</h1>
            <div>Name: <%= @user.full_name %></div>
            <div>Username: <%= @user.username %></div>
            <div>Email: <%= @user.email %></div>
            <div>Phone Number: <%= @user.phone_number %></div>
          </div>
        </div>
      </div>
      <div class = "col-md-6">
        <h1 id ='profile-h2'>Current Events</h1>
        <% @user.games.each do |game| %>
          <% if has_satisfactory_conditions?(game) %>
            <%= render partial: 'games/show', locals: {game: game} %>
            <br>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>