<div class = "display-games">
  <div><%= game.sport %></div>
  <div>Players Currently Attending: <%=Player.attending_count(game.id)%> </div>
  <div>Location: <%= link_to game.location, game_path(game)%></div>
  <div>Starts: <%= local_time(game.start_time) %></div>
  <div>Ends: <%= local_time(game.end_time) %></div>
</div>
