<div class = "display-games">
  <div> <%= is_game_private?(game) %> - <%= game.sport %></div>
  <div>Players Currently Attending: <%=Player.attending_count(game.id)%> </div>
  <div>Location: <%= link_to game.location, game_path(game)%></div>
  <div>Starts: <%= local_time(game.start_time) %></div>
  <div>Ends: <%= local_time(game.end_time) %></div>
  <% if session[:user_id] %>
    <div>Status: <%= game.user_status(session[:user_id]) %></div>
    <% invite = game.invites.find_by(user_id: session[:user_id]) %>
    <%= render partial: 'players/join_leave_button', locals: {invite: invite, game_id: game.id} %>
  <% end %>
</div>
