<div class ='edit-account'>
  <%= bootstrap_form_for @game do |f| %>
    <%= f.text_field :sport %>
    <%= f.text_field :location %>
    <%= f.datetime_field :start_time %>
    <%= f.datetime_field :end_time %>
    <%= f.submit "Update Game", class: 'btn btn-default' %>
  <% end %>
</div>

