<div class = "new-game">
  <%= bootstrap_form_for @game do |f| %>
   <%= f.hidden_field :owner_id, value: session[:user_id] %>
    <div><%= f.text_field :sport %></div>
    <div><%= f.text_field :location %></div>
    <div><%= f.datetime_field :start_time %></div>
    <div><%= f.datetime_field :end_time %>
    <div><%= f.check_box :private_game, {}, "true","false" %></div>
    <div><%= label_tag :invites %></div>
    <div><%= text_area_tag :invites, "", options = {size: '50x10', placeholder: 'Enter phone numbers or usernames here (separate by commas).'} %></div>
    <div><%= f.submit "Create Game", class: 'btn btn-default' %></div>
  <% end %>
</div>