<%= form_for @game do |f| %>
 <%= f.hidden_field :owner_id, value: session[:user_id] %>
  <div><%= f.label :sport %></div>
  <div><%= f.text_field :sport %></div>
  <div><%= f.label :location %></div>
  <div><%= f.text_field :location %></div>
  <div><%= f.label :start_time %></div>
  <div><%= f.datetime_field :start_time %></div>
  <div><%= f.label :end_time %></div>
  <div><%= f.datetime_field :end_time %>
  <div><%= label_tag :invites %></div>
  <div><%= text_area_tag :invites, '', options = {placeholder: 'Enter usernames or emails here.'} %></div>
  <div><%= f.submit "Create Game" %></div>
<% end %>
