<div class ='container'>
  <div class ='row'>
    <div class='col-md-6'>
      <div class ='display-game-info'>
        <h2 id ='game-show-h2'><%= @game.sport %></h2>
          <div>Starts: <%= local_time(@game.start_time) %></div>
          <div>Ends: <%= local_time(@game.end_time) %></div>
          <div><%= @game.location %></div>
          <div>Players Attending: <%= Player.attending_count(@game.id)%>
            <br>
            <br>
            <ul class = 'button-fix'>
              <li><div><%= button_to "Edit Your Game", edit_game_path(@game), method: :get, class: 'btn btn-default'%></div></li>
              <li><div><%= button_to 'Delete Game', game_path(@game), method: :delete , class: 'btn btn-default'%></div></li>
            </ul>
          </div>
      </div>
      <div class = 'player-invites'>
        <span class ='span-1'>Players Invited:</span> <% @game.players.each do |p| %>
          <div><%= p.user.full_name%> - <%= p.is_attending? %></div>
          <%end%>
          <br>
      </div>
    </div>

    <div class='col-md-6'>
      <input id="autocomplete" class = 'auto-finish' placeholder="Enter the address"></input>
      <input class = 'auto-finish btn-default' type="submit" onclick="geolocate()" value="Directions"></button>
      <div id="googleMap" style="width:500px;height:380px;"></div>
      <form id="geolocator" onSubmit="geolocate()" data-remote="true">
      </form>
      <div class = 'mappy-map' id="map-canvas"></div>
      <br>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    initialize();
    $('#autocomplete').on('keydown', function(e) {
      if (e.keyCode == 31) {
        $('#geolocator').submit();
      }
    })
  });
</script>