<h2><%= @game.sport %></h2>

  <div>Starts: <%= local_time(@game.start_time) %></div>
  <div>Ends: <%= local_time(@game.end_time) %></div>
  <div><%= link_to @game.location %></div>
  <div>Players Attending: <%= Player.attending_count(@game.id)%></div>
  Players Invited: <% @game.players.each do |p| %>
    <div><%= p.user.full_name%> - <%= p.is_attending? %></div>
    <%end%>
    <br>
<button onclick="initialize()">Directions</button>
<br>
<br>
<div id="map-canvas"></div>
<div id="googleMap" style="width:500px;height:380px;"></div>
<br>

<% if session[:user_id] == @game.owner_id%>
  <div><%= link_to "Edit Your Game", edit_game_path(@game)%></div>
  <div><%= link_to 'Delete Game', game_path(@game), method: :delete %></div>
<%end%>

