<div class = 'display-invites'>
  <% game = invite.game %>

    <div><%= game.sport.capitalize %> Game</div>
    <div>Location: <%= game.location.capitalize %></div>
    <div>Start Time: <%= local_time(game.start_time) %></div>
    <div>End Time: <%= local_time(game.end_time) %></div>
    <div>Attending: <%= invite.attending %></div>

    <% if invite.attending %>
      <%= render partial: '/players/status_button', locals: {invite_id: invite.id, game_id: invite.game_id, status: 'false', button_name: 'Leave'} %>
    <% else %>
      <%= render partial: '/players/status_button', locals: {invite_id: invite.id, game_id: invite.game_id, status: 'true', button_name: 'Join'} %>
    <% end %>
</div>
