<!DOCTYPE html>
<html>
<head>
  <title>WhosGotNext</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <ul>
      <li><%= link_to 'Home', games_path%></li>
    <% if is_authenticated? %>
      <li><%= link_to 'Your Profile', user_path(current_user.id)%></li>
      <li><%= link_to 'Create Game', new_game_path%></li>
      <li><%= link_to 'Edit Account', edit_user_path(current_user.id)%></li>
      <li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
    <%else%>
      <li><%= link_to 'Login', login_path%></li>
      <li><%= link_to 'Sign-Up', new_user_path %></li>
    <%end%>
  </ul>
</nav>
<%= yield %>

</body>
</html>
